<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <img src="logo.png" alt="Logo" class="logo">
        <h1>rishti Sharma</h1>
        <nav>
            <ul>
                <li><a id="home-link" href="index.html">Home</a></li>
                <li><a id="about-link" href="about.html">About</a></li>
                <li><a id="portfolio-link" href="portfolio.html">My work</a></li>
                <li><a id="contact-link" href="contact.html">Contact</a></li>
                <li><a id="resume-link" href="resume.html" class="resume-button">Resume</a></li>
            </ul>
        </nav>
    </header>
    <section id="contact-form">
        <h2>Get in Touch</h2>
        <form action="#" method="post"> <!-- Replace "#" with the actual form submission URL -->
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="5" required></textarea><br>
            <input type="submit" value="Send">
        </form>
    </section>

    <section id="contact-info">
        <h2>Contact Information</h2>
        <p>Email: srishtisharma2004.com</p>
        <p>Phone: +1 (647)594-4054</p>
        <p>Address: 561, Sherbourne street, Toronto</p>
    </section>
    <footer>
        <section id="social-links">
            <h2>Social Links</h2>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/srishti-sharma-583279198/" target="_blank">
                        <img src="linkedin.png" alt="LinkedIn Logo">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/srishtiisharmaa" target="_blank">
                        <img src="github.png" alt="GitHub Logo">
                        GitHub
                    </a>
                </li>
            </ul>
        </section>
    </footer>
</body>
</html>