<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <img src="logo.png" alt="Logo" class="logo">
        <h1>rishti Sharma</h1>
        <nav>
            <ul>
                <li><a id="home-link" href="index.html">Home</a></li>
                <li><a id="about-link" href="about.html">About</a></li>
                <li><a id="portfolio-link" href="portfolio.html">My work</a></li>
                <li><a id="contact-link" href="contact.html">Contact</a></li>
                <li><a id="resume-link" href="resume.html" class="resume-button">Resume</a></li>
            </ul>
        </nav>
    </header>

<body>
    <div class="container">
        <h1>Resume - Srishti Sharma</h1>
        <div class="resume">
            <img src="resume.png" alt="Resume">
        </div>
        <div class="download-button">
            <a href="resume.pdf" download>Download Resume</a>
        </div>
    </div>
</body>
<footer>
    <section id="social-links">
        <h2>Social Links</h2>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/srishti-sharma-583279198/" target="_blank">
                    <img src="linkedin.png" alt="LinkedIn Logo">
                    LinkedIn
                </a>
            </li>
            <li>
                <a href="https://github.com/srishtiisharmaa" target="_blank">
                    <img src="github.png" alt="GitHub Logo">
                    GitHub
                </a>
            </li>
        </ul>
    </section>
</footer>

</html>
