body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 99%;
	background-color: #333;
	color: #138AE0;
	padding: 1rem;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
    z-index: 1000;
}

h1 {
	margin: 0;
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    text-align: right;
    font-size: 20px;
    margin-left: 1120px;
}
.logo {
    width: 50px;
    margin-left: 30px;
}

nav ul li {
	display: inline;
	margin-right: 1rem;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    color: #138AE0;
}
.resume-button {
    background: linear-gradient(to right, #138AE0, #FDF731); 
    padding: 8px 16px; 
    border-radius: 20px; 
    transition: border-color 0.3s ease; 
    color: #333;
}

.resume-button:hover {
    background-color: #333;
    color: #fff;
}

section {
	padding: 2rem;
}


#about {
    background-color: #ffffff;
    padding: 2rem;
    text-align: left;
    padding-top: 190px;
    padding-bottom: 140px;
    display: flex;
    align-items: center;
}

#about h1 {
    color: #333;
    font-size: 4rem;
    text-align: left;
}

#about p {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.6;
}
.about-content {
    flex: 1;
    padding-left: 50px;
    

}
.about-content .playground {
    background: linear-gradient(to right, #138AE0, #FDF731);
    -webkit-background-clip: text; 
    color: transparent; 
}


.image-container {
    flex: 1;
    text-align: center; 
    padding-left: 90px;
    margin-left: 50px;
}

.image-container img {
    max-width: 70%;
    height: auto;
}

#social-links {
    background-color: #333;
    color: #fff; 
}

#social-links ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: center;
}

#social-links h2 {
    text-align: center; 
    font-size: 40px;
}

#social-links ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 30px;
}

#social-links ul li:last-child {
    margin-right: 0; 
}

#social-links ul li a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #dbdbdb;
    color: #333;
    text-decoration: none; 
    border-radius: 30px;
}

#social-links ul li a:hover {
    background-color: #333; 
    color: #fff;
    border: 2px solid #fff;
}

#social-links ul li img {
    width: 30px; 
    height: auto;
    vertical-align: middle; 
    margin-right: 5px; 
}

#introduction img {
    width: 300px; 
    height: auto; 
    display: block;
    margin: 0 auto 20px;
}


#introduction {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#introduction {
    position: relative;
}

.video-container {
    width: 100%;
    padding-top: 56.25%; 
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
}


#introduction h2 {
    color: #138AE0;
    font-size: 40px;
}

#introduction p {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

#skills {
    padding: 20px;
    margin-bottom: 70px;
    border-radius: 8px;
}

#skills h2 {
    color: #333;
    text-align: center;
    font-size: 40px;
}

.skill-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.skill-list li {
    margin: 20px; 
    border: 2px solid #333;
    text-align: center; 
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(139, 139, 139);
}

.skill-btn {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.skill-btn img {
    width: 80px; 
    height: auto; 
    margin-bottom: 30px; 
}

.skill-btn span {
    text-align: center;
    font-size: 15px;
}

.skill-btn:hover img {
    filter: brightness(90%); 
}




/* Experience Section */
#experience {
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: #FDF731;
}

#experience h2 {
    color: #333;
    font-size: 40px;
    margin-top: 45px;
}

#experience p {
    color: #333;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    line-height: 1.6;
}

/* Education Section */
#education {
    background-color: #f9f9f9;
    border-radius: 30px;
    text-align: center;
}

#education h2 {
    color: #00BFFF;
    font-size: 40px;
}

#education p {
    color: #333;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    line-height: 1.6;
}

.sections-container {
    display: flex; 
}

#experience, #education {
    flex: 1;
}


#ui-ux-design,
#graphic-design,
#personal-work {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

#ui-ux-design h2,
#graphic-design h2,
#personal-work h2 {
    margin-top: 50px;
    color: #333;
    text-align: center;
    font-size: 40px;
}

#ui-ux-design{
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url('/Website.png');
    background-size: cover; 
    background-position: center;
    text-align: center;
}

#ui-ux-design img{
    width: 1000px;
}

#personal-work{
     background-color: #ececec;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 350px;
    height: auto;
    margin: 10px; 
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.project-button {
    margin-top: 50px;
    font-size: 20px;
}

.view-project-button {
    padding: 20px 30px;
    background-color: #138AE0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.view-project-button:hover {
    background-color: #0E65A7;
}

/* Contact Form Section */
#contact-form {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#contact-form h2 {
    color: #333;
    text-align: center;
    font-size: 40px;
}

#contact-form form {
    max-width: 500px;
    margin: 0 auto;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-form textarea {
    height: 150px;
}

#contact-form input[type="submit"] {
    background-color: #138AE0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form input[type="submit"]:hover {
    background-color: #106bac;
}

/* Contact Information Section */
#contact-info {
    padding: 20px;
    border-radius: 8px;
    background-color: #FDF731;
}

#contact-info h2 {
    color: #333;
    text-align: center;
    font-size: 40px;
}

#contact-info p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #FDF731;
    padding-top: 70px;
}

.container h1 {
    color: #333;
}

h1 {
    text-align: center;
}

.resume {
    margin-top: 20px;
}

.resume img {
    max-width: 100%;
    height: auto;
}

.download-button {
    text-align: center;
    margin-top: 20px;
}

.download-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #138AE0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button a:hover {
    background-color: #0E65A7;
}
